---
import Link from './ui/Link.astro';
---

<footer class="px-4 pt-8 pb-24  text-gray-500 text-center">
	Made with <span class="text-gray-400 hover:text-red-400">:love:</span> by 
	<Link href="https://github.com/khudadad414" target="_blank">@khudadad414</Link>
</footer>
