---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="flex items-center gap-8 h-16 border-t-8 border-cyan-500 px-2 text-slate-950">
		<h2><a class="text-slate-950 hover:text-slate-950" href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links flex gap-4 space-x-2 justify-center">
			<HeaderLink class="nav-link" href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
